<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Disambigious Alert</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />



</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound">
				<h1>Oops! Disambigious Error</h1>
			</div>
		    <div> The Search String entered is ambigious and have the following suggestions. Please select one of the following and try again to get the summary: </div>
            <div>
                  <p>
                      <ul>
                            {% for thing in result %}
                              <li>{{ thing }}</li>
                            {% endfor %}
                      </ul>
                  </p>
            </div>
			<a href="/">Go To Homepage</a>

	</div>
    </div>
</body>

</html>


