<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Wikipedia Summary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">


        <div class="content">
            <br>
            <h1 style="text-align: center"><i>Wikipedia Summarizer.</i></h1><br>
            <h4 style="text-align: center"><b>Note:</b>This website creates a summary of the topic from Wikipedia. Enter the
                topic and see the magic happen.<br><br><br>For eg. If you want a summary of Microsoft enter Microsoft</h4><br><br>
             <div class="form">
                <form action="/" method="POST">
                    <label><b>Enter the topic:</b></label> <input type="text" name="content" id="content" ><br><br>
                    <input type="submit" value="Search">
                </form>
             </div>
        </div>
    </div>
</body>
</html>